
{@
    $domain = getModel('module')->getDefaultDomainInfo();
}
<div id="off-canvas-overlay"></div>
  <div id="off-canvas" class="overflow-hidden overflow-y-auto">
    <div class="off-canvas-header d-flex border-bottom">
    </div>
    <ul class="off-canvas-nav pt-5 pb-5 ">
      <div class="py-1 " role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
        <div class=" flex justify-center ">
          <div class="flex flex-col w-full max-w-xs p-4  ">
            <div class="flex nav_top_div w-full">
                <a href="/" class="w-full justify-center flex flex-row items-center h-12 px-4 rounded-lg text-gray-600 bg-gray-100">
                    {$domain->settings->title}
                </a>
            </div>
            <ul class="flex flex-col w-full ">
              <li class="my-px">
                
              </li>
              <li class="my-px">
                <span class="flex font-medium text-sm text-gray-400 px-4 my-4 uppercase">MENU</span>
              </li>
              <!--@foreach($gnb->list as $val) -->
              <li class="my-px">
                <a href="{$val['href']}"
                  class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-600 hover:bg-gray-100 hover:text-red-600">
                  <span class="flex items-center justify-center text-lg text-gray-400">
                    <i class="fas fa-book"></i>
                  </span>
                  <span class="ml-3">{$val['link']|noescape}</span>
                </a>
                <ul class="bg-gray-100" cond="$val['list']">
                  <li loop="$val['list'] => $k, $v">
                    <a href="{$v['href']}"
                      class="flex flex-row items-center h-12 pr-4 pl-10 rounded-lg text-gray-600 hover:bg-gray-200 hover:text-red-600 <!--@if($act=='dispEbookImageBookList')-->text-red-600<!--@end-->">
                      <span class="flex items-center justify-center text-lg text-gray-400">
                        <i class="fas fa-align-left"></i>
                      </span>
                      <span class="ml-3">{$v['link']|noescape}</span>
                    </a>
                  </li>
                </ul>
              </li>

              <!--@end-->
              <li class="my-px">
                <span class="flex font-medium text-sm text-gray-400 px-4 my-4 uppercase">MEMBER</span>
              </li>
              <!--@if($is_logged)-->
              <li class="my-px">
                <a href="{getUrl('','act','dispMemberLogout')}"
                  class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-600 hover:bg-gray-100 hover:text-red-600">
                  <span class="flex items-center justify-center text-lg text-gray-400">
                    <i class="fas fa-book"></i>
                  </span>
                  <span class="ml-3">로그아웃</span>
                </a>
              </li>
              <li class="my-px">
                <a href="{getUrl('','act','dispMemberInfo')}"
                  class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-600 hover:bg-gray-100 hover:text-red-600">
                  <span class="flex items-center justify-center text-lg text-gray-400">
                    <i class="fas fa-book"></i>
                  </span>
                  <span class="ml-3">회원정보</span>
                </a>
              </li>
              <!--@else-->
              <li class="my-px">
                <a href="{getUrl('','act','dispMemberLoginForm')}"
                  class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-600 hover:bg-gray-100 hover:text-red-600">
                  <span class="flex items-center justify-center text-lg text-gray-400">
                    <i class="fas fa-book"></i>
                  </span>
                  <span class="ml-3">로그인</span>
                </a>
              </li>
              <li class="my-px">
                <a href="{getUrl('','act','dispMemberSignUpForm')}"
                  class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-600 hover:bg-gray-100 hover:text-red-600">
                  <span class="flex items-center justify-center text-lg text-gray-400">
                    <i class="fas fa-book"></i>
                  </span>
                  <span class="ml-3">회원가입</span>
                </a>
              </li>

              <!--@end-->
            </ul>
          </div>
        </div>

      </div>
    </ul>
  </div>